* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: whitesmoke;
    background-color: #363636;
    margin: 10px auto;
    display: flex;
    flex-flow: column wrap;
  }

  li {
    position: relative;
}

